{% extends 'base.html' %} {% block content %}
<main>
  <table>
    <tr>
      <thead>
        Name
      </thead>
      <thead>
        Number
      </thead>
      <thead>
        Number of receipts
      </thead>
    </tr>
    <tbody>
      {% for account in accounts_list %}
      <tr>
        <td>{{ account.name }}</td>
        <td>{{ account.number }}</td>
        <td>{{ account.receipts.all|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}
