{% extends 'base.html' %} {% block content %}
<main>
  <table>
    <tr>
      <thead>
        Name
      </thead>
      <thead>
        Number of receipts
      </thead>
    </tr>
    <tbody>
      <!-- loop through categories and list the category Name # tally the number of receipts in each category -->
      {% for category in categories_list %}
      <tr>
        <td>{{ category.name }}</td>
        <td>{{ category.receipts.all|length }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}
