{% extends 'base.html' %} {% block content %}
<main>
  <h1>My Receipts</h1>
  <table>
    <tr>
      <thead>
        Vendor
      </thead>
      <thead>
        Total
      </thead>
      <thead>
        Tax
      </thead>
      <thead>
        Date
      </thead>
      <thead>
        Category
      </thead>
      <thead>
        Account
      </thead>
    </tr>
    <tbody>
      {% for receipt in receipts_list %}
      <tr>
        <td>{{ receipt.vendor }}</td>
        <td>{{ receipt.total }}</td>
        <td>{{ receipt.tax }}</td>
        <td>{{ receipt.date|date:"m/d/y" }}</td>
        <td>{{ receipt.category.name}}</td>
        <td>{{ receipt.account.name }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}
